#details {
	background: url(../images/sgbk_lemma_bg.jpg);
}

#header .wrap {
	position: relative;
	overflow: hidden
}

.logo {
	position: relative;
	width: 137px;
	height: 42px;
	margin: 9px auto
}

.logo a {
	display: block
}

.logo img {
	display: block;
	width: 100%;
	height: auto
}

.logo_msk {
	width: 100%;
	height: 100%;
	background: #3e4042 url('../images/backface.png') no-repeat 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-size: 500px 60px
}

#header i {
	display: block;
	width: 33px;
	height: 32px;
	position: absolute
}

.menu_slide {
	top: 14px;
	right: 0;
	background-position: -343px -8px;
	transition: all 0.3s ease-out
}

.menu_slide.show {
	transform: rotate(180deg)
}

#header .menu_open {
	background-position: -107px -441px;
	left: 0;
	top: 14px
}

.menu_back.ton,
.menu_back2.ton,
.menu_open.ton,
.search_open.ton {
	background-color: #70CA10
}

.menu_back,
.menu_back2 {
	background-position: -68px -320px;
	top: 14px;
	background-color: #323436;
	left: 0
}

.menu_back a,
.menu_back2 a {
	display: block;
	height: 100%
}

.menu_share {
	background-position: -66px -107px;
	top: 14px;
	background-color: #323436;
	right: 0
}

.menu_refresh {
	background-position: -282px -39px;
	top: 14px;
	background-color: #323436;
	right: 0;
	transition: all 0.3s ease-out
}

#header .menu_refresh.ton {
	background-color: #6bc30d
}

#header .search_open {
	top: 14px;
	right: 0;
	background-position: -105px -475px
}

#sort {
	height: 40px;
	background: #444446
}

#sort .sortby {
	height: 40px
}

.sort_ct {
	border: 1px solid #fff;
	border: 0 1px
}

#sort td {
	height: 40px;
	text-align: center
}

.sort_left {
	/*	background: url('g_block.png') repeat-y 100% 0;*/
	text-align: center;
	background-size: 1px 1px
}

.sort_right {
	/*	background: url('g_block.png') repeat-y 0 0;*/
	background-size: 1px 1px
}

.sort_b {
	height: 40px;
	line-height: 40px;
	width: 100%
}

.sort_b i {
	width: 0px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 17px;
	margin-right: 5px;
	/*	background-image: url('sort.png');*/
	background-size: 150px 150px
}

i.cate_default {
	background-position: 1px 1px
}

i.cate_tag {
	background-position: -13px -49px
}

i.cate_sort {
	background-position: -29px -16px
}

.sort_b span {
	height: 40px;
	display: block;
	float: left;
	background: url('slide.png') no-repeat 0 0;
	padding-right: 19px;
	background: url('slide.png') no-repeat 100% 50%;
	background-size: 9px 4.5px;
	overflow: hidden
}

.sort_cate a {
	padding-right: 5px
}

.sort_tag .sort_b span {
	max-width: 8png
}

.sort_b a {
	display: block;
	height: 40px;
	width: 95%
}

.sort_b.ton {
	background-color: #343435;
	-moz-box-shadow: 0px 2px 6px #1f1f1f inset;
	-o-box-shadow: 0px 2px 6px #1f1f1f inset;
	-webkit-box-shadow: 0px 2px 6px #1f1f1f inset;
	box-shadow: 0px 2px 6px #1f1f1f inset
}

.sort_b .sort_b_inner {
	height: 40px;
	display: inline-block
}

.ssss {
	color: white;
}

.sort_b_inner span {
	color: white;
}

#comment {
	background: #fff;
	padding-bottom:43px;
	height:calc(100vh - 450px);
	width:800px;
	margin:20px auto;
	overflow-y:auto;
}

.quote {
	background: #f4f4f4;
	margin-top: 10px;
}

#comment ul li {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}

#comment ul li .avt {
	display: block;
	width: 30px;
	height: 50px
}

#comment ul li .avt img {
	width: 100%
}

.comment_content {
	margin-left: 40px;
	font-size: 12px;
	line-height: 18px
}

#comment h4 {
	display: block;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	text-indent: 10px;
	font-size: 11px;
	margin-top: 25px;
}

.comment_content h5 {
	display: block;
	font-weight: 500;
	height: 25px;
	line-height: 20px;
	overflow: hidden;
}

.comment_content a {
	color: #1f8902;
	font-size: 12 px;
}

.comment_content span {
	color: #b4b4b4;
	margin-left: 5px;
}

.comment_p {
	color: #9c9c9c
}

.reply_this {
	color: #ff8a00;
	font-size: 12px;
	height: 20px;
}


.comment_reply_this .pd5 {
	background: #fff;
	border: 1px solid #b0b0b0;
	height: 40px
}

#works .pd5 {
    padding: 20px;
    margin-top:25px;
}

#works .list_info_i {
	margin: 0 0 10px 7px
}

.works_view dt {
	background-position: -70px -148px
}

#works {
	background: #fff;
	margin-bottom: 15px;
	width: 800px;
	height:300px;
	overflow-y:auto;
	margin: 0 auto;
	text-align: center;
}

.details_mian {
	line-height: 20px;
}

.details_mian h3 {
	display: block;
	margin-top:5px;
}

.details_mian p b {
	display: block;
	text-align: center;
	margin-top: 25px;
}

.details_mian .details_content {
	line-height: 35px;
	text-indent: 25px;
	text-align: left;
	margin-top: 20px;
}

.menu_back2,
.menu_slide,
#us_panel2 td i,
.send_msg_to,
.menu_refresh,
#post_comment_btn,
.menu_back,
.menu_share,
.menu_open,
.search_open,
.list_info_i dt,
#menu ul li a b,
.hd .fr,
.reg_bar_close,
.login_bar_close,
.reg_bar .fl i,
#weibo_app i,
#qq_connect i,
.login_bar .fl i,
.share_sina,
.share_guangbo,
.share_douban,
.content_info_more,
.header_more dt,
.works_view dt,
#add_f i,
.works_link dt,
.visit_site a i,
.add_friend,
.remove_friend,
.rela_friend,
.user_menu dt,
#user_menu li a .fl i,
.home_profile_local i,
.home_profile_c a i,
.remove_msg,
.reply_msg_post {
	background: url(../images/icons.png) no-repeat;
	background-size: 500px 500px;
}





/*-----------------------------底部-------------------------------*/
#us_panel2{
	width: 100%;
	height: 44px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	border-top: 1px solid #e3e3e3
}


#us_panel2 td{
	height: 100%;
	text-align: center;
}

.works_view dt {
    background-position: -70px -148px;
}

#us_panel2 td span{
	display: inline-block;
	vertical-align: middle;
	width: 65px;
	color:#777;
}

#us_panel2 td span em{
	font-style: normal
}
#us_panel2 .us_panel_like i{
    width: 16px;
    height: 16px;
    background-position: -112px -304px;
}
#us_panel2 td i{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.us_panel_menu ,.us_panel_menu2{
    width: 85px;
    position: relative;
}
.arrow_top ,.arrow_top2{
    width: 13px;
    height: 6.5px;
    background: url(arrow-top.png) no-repeat 0 0;
    background-size: 13px 6.5px;
    position: absolute;
    left: 50%;
    margin-left: -6.5px;
    top: 0;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: -o-transform 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: transform 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
#us_panel2 .us_panel_menu i {
    width: 22px;
    height: 16.5px;
    background-position: -112px -256px;
}
.us_panel_menu_left,.us_panel_menu_left2 {
    background: #e3e3e3;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.us_panel_menu_right,.us_panel_menu_right2 {
    background: #e3e3e3;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#us_panel2 .us_panel_post i{
    width: 16px;
    height: 16px;
    background-position: -112px -208px;
}
.list_info_i dt,.list_info_i2 dt {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 2px;
}
/*-----------------------------评论-------------------------------*/
.details_comment{
	width: 100%;
	overflow: hidden;
	position: relative;
	top:-500px;
	left:0px;
}
#us_panel3 {
    width: 600px;
    height: 44px;
    background: #000;
    opacity: 0.6;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    color:#666;
}
#us_panel3 p{
	float:left;
	width: calc(100%/2);
	text-align: center;
	line-height: 44px;
	font-size:20px ;
}
#us_panel3 p:first-child{
	border-right:1px solid #ccc;
}
.details_comment_mian{
	width:600px;
	border:1px solid;
	margin:0 auto;
	background:#eee;
}
.details_comment_mian h3{
	border-bottom:1px solid #ccc;
	padding:20px 0 20px 20px;
}
.details_comment_mian li{
	margin-left:60px;
}
.details_comment_mian textarea{
	width: 370px;
	margin-top:40px;
	font-size:18px;
	height:150px;
	margin-left:23px;
}
.details_comment_mian span{
	float:left;
	margin-top:20px;
	font-size:18px;
}
