body{
	background:#ebe7dd;
	
}
#examine{
	width:100%;
/*	background: url(../images/personal_beijing.jpg) no-repeat;*/
	background:#ebe7dd;
	position:absolute;
}
#examine .examine_mian{
	width: 800px;
	margin:0 auto;
	padding-top:90px;
}
.examine_mian ul li{
	line-height: 35px;
    font-size: 20px;
    padding-top: 30px;
}
.examine_mian ul li span{
	font-size:18px;
}
.examine_mian .xiaozi{
	display: block;
	width:600px;
	font-size:16px;
	margin-left:90px;
	text-indent:25px
}
.examine_bottom{
	display: block;
	width: 690px;
	text-align: right;
	margin-top: 25px;
}



















/*头部------------------------------------------------------------*/
#header {
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
}

#us_panel.hide {
	transform: translateY(125px);
	-moz-transform: translateY(125px);
	-webkit-transform: translateY(125px);
	-o-transform: translateY(125px)
}

.search_wrap {
	height: 60px;
	width: 100%;
	background-color: #2a2c2e
}

#user {
	background-color: #323436
}



.reset_input {
	width: 20px;
	height: 35px;
	position: absolute;
	display: block;
	top: 10px;
	right: 10px;
	display: none
}

.reset_input i {
	display: block;
	width: 16px;
	height: 16px;
	background: url('../images/icons.png') no-repeat -30px -55px;
	background-size: 500px 500px;
	position: absolute;
	top: 12.5px;
	right: 10px;
	opacity: 0.4;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.reset_input.ton {
	opacity: 1
}

.asort {
	display: none
}

.asort.show {
	display: block
}

.hd {
	height: 60px;
	background: #323436
}

.hd .fl {
	height: 60px
}

.sort_tag .hd .fl i {
	background-position: 1.5px -34px
}

.sort_color .hd .fl i {
	background-position: 1.5px -94.5px
}

.hd .fl span {
	height: 32px;
	line-height: 32px;
	color: #fff;
	display: block;
	float: left;
	margin-top: 14px;
	padding-left: 16px
}

.hd .fr {
	width: 33px;
	height: 32px;
	background-position: 10px -76.5px;
	background-color: #3e4042;
	margin-top: 14px;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.hd .fr.ton {
	background-color: #6bc30d
}

.ct {
	overflow-x: hidden;
	overflow-y: auto
}

.ct ul {
	margin-top: 10px;
	display: block;
	border-top: 1px solid #e5e5e5
}

.ct li {
	display: block;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff
}

.ct li i {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 17px
}

.ct li span {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	margin-top: 17px;
	font-size: 13px
}

.ct li .s {
	margin-right: 12px;
	background-image: url('../images/sort.png');
	background-size: 150px 150px;
	margin-left: 15px
}

.ct h4 {
	display: block;
	height: 40px;
	overflow: hidden;
	font-weight: 500
}

.ct h4 i {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background-image: url('../images/sort.png');
	background-size: 150px 150px;
	margin-left: 14px;
	margin-right: 10px;
	margin-top: 17px
}

.ct .cate_trade i {
	background-position: -16px 0
}

.ct .cate_tag i {
	background-position: -16px -16px
}

.ct .cate_color i {
	background-position: -16px -32px
}

.ct h4 span {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: 17px
}

i.cate_all {
	background-position: 0px 0px
}

i.cate_creat {
	background-position: 0px -16px
}

i.cate_site {
	background-position: 0px -32px
}

i.cate_inspire {
	background-position: 0px -48px
}

i.cate_article {
	background-position: 0px -64px
}

i.cate_app {
	background-position: 0px -80px
}

i.sort_re {
	background-position: -32px 0px
}

i.sort_recom {
	background-position: -32px -16px
}

i.sort_fa {
	background-position: -32px -32px
}

i.sort_vi {
	background-position: -32px -48px
}

i.sort_com {
	background-position: -32px -64px
}

.ct li i.e {
	background: #ffffff;
	width: 10px;
	height: 10px;
	border: 3px solid #d1d1d1;
	float: right;
	margin-right: 25px;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.ct li.a_selected {}

.ct li.a_selected .e {
	border: 3px solid #6bc30d
}

.ct .wrap {
	position: relative
}

.nled_wrap {
	width: 210px;
	margin: 0 auto;
	height: 35px
}

.user_avatar {
	width: 35px;
	height: 35px
}

.user_avatar img {
	width: 35px
}

.user_name {
	display: block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	margin-left: 10px
}

.user_logout {
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	opacity: 0.6;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in
}

.user_logout.ton {
	opacity: 1
}

.nled_wrap {
	margin-top: 12.5px
}

#reg_index {
	width: 100%;
	min-height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px
}

.reg_bar,
.login_bar {
	height: 60px;
	background: #323436
}

.reg_bar_close,
.login_bar_close {
	display: block;
	width: 33px;
	height: 32px;
	background-position: 10px -76.5px;
	background-color: #3e4042;
	margin-top: 14px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.reg_bar_close.ton,
.login_bar_close.ton {
	background-color: #6bc30d
}

.reg_bar .fl i,
.login_bar .fl i {
	height: 32px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
	background-position: 4px -112.5px
}

.login_bar .fl i {
	background-position: 4px -145px
}

.reg_bar,
.login_bar {
	line-height: 60px;
	vertical-align: middle
}

.reg_bar .fl,
.login_bar .fl {
	height: 60px;
	color: #fff
}

.reg_ct {
	text-align: center
}

#weibo_app {
	height: 50px;
	display: block;
	color: #fff;
	font-size: 16px;
	background-color: #d63b22;
	margin-bottom: 10px
}

#weibo_app span {
	display: block;
	height: 50px;
	margin: 0 auto;
	width: 160px
}

#weibo_app i {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background-position: 0 -205px
}

#qq_connect {
	height: 50px;
	display: block;
	color: #fff;
	font-size: 16px;
	background-color: #3eb0d8
}

#qq_connect span {
	display: block;
	height: 50px;
	margin: 0 auto;
	width: 160px
}

#qq_connect i {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background-position: 0 -288px
}

#reg_index {
	transform: translate3d(0px, 100%, 0px);
	transition: background 0.3s ease-out, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

#reg_index.show {
	transform: translate3d(0px, 0%, 0px);
	transition: background 0.3s ease-out, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.login_ct h4 {
	height: 25px;
	line-height: 25px;
	font-weight: 500;
	margin: 20px 0 10px 0;
	display: block
}

.login_ct h4 .fr a {
	font-size: 12px;
	color: #999
}

.login_ct h4 a {
	color: #FF4200
}

.login_user,
.login_password {
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 0px 40px 0 10px;
	position: relative;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
	background: none
}

.login_user i,
.login_password i {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: url('../images/icons.png') no-repeat -62px -43px;
	background-size: 500px 500px;
	opacity: 0.4;
	display: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.login_user i.ton,
.login_password i.ton {
	opacity: 1
}

.login_user {
	border-bottom: 1px solid #f7f7f7
}

.login_password {
	border-top: 0
}

.login_input input {
	border: none;
	display: block;
	height: 100%;
	width: 100%
}

.login_input {}

.login_user input,
.login_password input {
	-webkit-appearance: none
}

.login_submit {
	height: 40px;
	display: block;
	line-height: 40px;
	background: #70CA10;
	color: #fff;
	text-align: center;
	border: none;
	width: 100%;
	-webkit-appearance: none;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

.login_quick {
	margin-top: 30px
}

.login_quick p {
	line-height: 20px;
	margin: 20px 0 10px 0;
	font-size: 12px;
	color: #dfdfdf
}

.login_quick #weibo_app {
	margin: 0;
	height: 40px;
	float: left;
	width: 110px;
	overflow: hidden
}

.login_quick #qq_connect {
	height: 40px;
	float: right;
	width: 110px;
	overflow: hidden
}

.login_quick #weibo_app span,
.login_quick #qq_connect span {
	height: 40px;
	font-size: 13px;
	width: auto;
	padding-left: 5px;
	line-height: 40px;
	vertical-align: middle
}

.login_quick #weibo_app i,
.login_quick #qq_connect i {
	background-size: 250px 250px;
	height: 40px;
	width: 35px;
	vertical-align: middle
}

.login_quick #weibo_app i {
	background-position: 10px -95px
}

.login_quick #qq_connect i {
	background-position: 12px -136px
}

.list_loading {
	height: 16px;
	padding: 20px 0 30px;
	text-align: center
}

.list_loading i {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: url('../images/icons.png') no-repeat -288px -16px;
	background-size: 500px 500px;
	margin-right: 10px;
	vertical-align: middle;
	animation: loading 1s infinite linear
}

.list_loading span {
	height: 16px;
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
	color: #A0A0A0
}


.login_b_t {
	color: #dfdfdf;
	font-size: 12px;
	padding-top: 15px
}

.login_b_t .fl a {
	color: #ff8a00;
	font-size: 12px;
	margin-left: 5px
}

.login_b_t .fr a {
	color: #999;
	font-size: 11px
}

.login_b_i input {
	background: none
}

.login_b_i {
	margin-bottom: 10px;
	background: #fff
}
