
#personal{
	width:100%;
	height:100vh;
	background:#ebe7dd;
	z-index: 9999999;
	position: relative;
	background:url(../images/sgbk_lemma_bg.jpg);
}
.wrapper_home{
	position:absolute;
	left:0px;
	top:0px;
	z-index:999999;
	width:100vw;
	background:white;
	height:100vh;
	transition:1s all;
	overflow:hidden;
}
.personal_main{
	width: 800px;
	height:600px;
	background:url(../images/sgbk_lemma_bg.jpg);
	margin:0 auto;
	margin-top:65px;
	padding-top:50px;
}
.personal_main .personal_tou{
	display: block;
	width:118px;
	height:115px;
	background: url(../images/touxiang.gif) no-repeat;
	margin-left:45px;
	clear: both;
}
.personal_main .aaa{
	width:118px;
	display: block;
	margin-left:80px;
	margin-top:20px;
	background:#FAF2CC;
	border-radius: 8px;
}
.personal_main .bbb{
	width:118px;
	display: block;
	margin-left:45px;
	margin-top:20px;
	background:#FAF2CC;
	border-radius: 8px;
}
.personal_main .personal_ziliao{
	width:250px;
	margin-left:45px;
	margin-top:35px;
}
.personal_main ul li{
	font-size:16px;
	margin-top:30px;
}
.personal_main ul li i{
	font-style:normal;
	float:left;	
	width:calc(100%/3)
}
.personal_main_xiu{
	width: 380px;
    height: 400px;
    background: url(../images/beij.jpg);
    color: #fff;
    opacity: 0.8;
    border-radius: 35px;
    position: absolute;
    top: 180px;
    left: 605px;
    display: none;
}
.personal_main_xiu input{
	background: #F5E79E;
	border-radius:1px;
	border:0px;
	width:180px;
	color:black;
	margin-right:0px ;
}.personal_main_xiu button{
	display: block;
	margin-top:50px;
	background:#F5E79E ;
	color:black;
	margin-left:85px;
}
.personal_main_xiu .personal_xiu_content{
	padding-top:55px;
	margin-left:45px;
}




















/*头部------------------------------------------------------------*/
#header {
	background: #64c400;
	height: 60px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 999;
	left: 0px;
	top: 0;
	width: 100%
}

#header.head {
	background: #323436;
	height: 50px
}

#header.head i {
	top: 9px
}

.title {
	line-height: 50px;
	color: #fff;
	position: relative;
	height: 50px;
	display: block;
	margin: 0 auto;
	width: 70%;
	overflow: hidden
}

.t_slide {
	text-align: center
}

.title_d {
	display: block;
	white-space: nowrap;
	position: relative;
	float: left;
	top: 0;
	left: 0;
	left: 50%;
	font-size: 16px
}

.title_d p {
	float: left;
	position: relative;
	right: 50%
}


#header .wrap {
	position: relative;
	overflow: hidden
}

.logo {
	position: relative;
	width: 137px;
	height: 42px;
	margin: 9px auto
}

.logo a {
	display: block
}

.logo img {
	display: block;
	width: 100%;
	height: auto
}

.logo_msk {
	width: 100%;
	height: 100%;
/*	background: #3e4042 url('../images/backface.png') no-repeat 50% 50%;*/
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-size: 500px 60px
}

#header i {
	display: block;
	width: 33px;
	height: 32px;
	position: absolute
}

.menu_slide {
	top: 14px;
	right: 0;
	background-position: -343px -8px;
	transition: all 0.3s ease-out
}

.menu_slide.show {
	transform: rotate(180deg)
}

#header .menu_open {
	background-position: -107px -441px;
	left: 0;
	top: 14px
}

.menu_back.ton,
.menu_back2.ton,
.menu_open.ton,
.search_open.ton {
	background-color: #70CA10
}

.menu_back,
.menu_back2 {
	background-position: -68px -320px;
	top: 14px;
	background-color: #323436;
	left: 0
}

.menu_back a,
.menu_back2 a {
	display: block;
	height: 100%
}

.menu_share {
	background-position: -66px -107px;
	top: 14px;
	background-color: #323436;
	right: 0
}

.menu_refresh {
	background-position: -282px -39px;
	top: 14px;
	background-color: #323436;
	right: 0;
	transition: all 0.3s ease-out
}

#header .menu_refresh.ton {
	background-color: #6bc30d
}

#header .search_open {
	top: 14px;
	right: 0;
	background-position: -105px -475px
}
#sort {
	height: 40px;
	background: #444446
}

#sort .sortby {
	height: 40px
}

.sort_ct {
	border: 1px solid #fff;
	border: 0 1px
}

#sort td {
	height: 40px;
	text-align: center
}

.sort_left {
/*	background: url('g_block.png') repeat-y 100% 0;*/
	text-align: center;
	background-size: 1px 1px
}

.sort_right {
/*	background: url('g_block.png') repeat-y 0 0;*/
	background-size: 1px 1px
}

.sort_b {
	height: 40px;
	line-height: 40px;
	width: 100%
}

.sort_b i {
	width: 0px;
	height: 16px;
	display: block;
	float: left;
	margin-top: 17px;
	margin-right: 5px;
/*	background-image: url('sort.png');*/
	background-size: 150px 150px
}

i.cate_default {
	background-position: 1px 1px
}

i.cate_tag {
	background-position: -13px -49px
}

i.cate_sort {
	background-position: -29px -16px
}

.sort_b span {
	height: 40px;
	display: block;
	float: left;
	background: url('../images/slide.png') no-repeat 0 0;
	padding-right: 19px;
	background: url('../images/slide.png') no-repeat 100% 50%;
	background-size: 9px 4.5px;
	overflow: hidden
}

.sort_cate a {
	padding-right: 5px
}

.sort_tag .sort_b span {
	max-width: 8png
}

.sort_b a {
	display: block;
	height: 40px;
	width: 95%
}

.sort_b.ton {
	background-color: #343435;
	-moz-box-shadow: 0px 2px 6px #1f1f1f inset;
	-o-box-shadow: 0px 2px 6px #1f1f1f inset;
	-webkit-box-shadow: 0px 2px 6px #1f1f1f inset;
	box-shadow: 0px 2px 6px #1f1f1f inset
}

.sort_b .sort_b_inner {
	height: 40px;
	display: inline-block
}
.ssss{
	color:white;
}
.sort_b_inner span{
	color:white;
}
#a{
	display: none;
}
.personal_main_left{
	float: left;
}
.personal_main_right{
	float:right;
	width:480px;
	height:400px;
	background:#fff;
}
.personal_main_right button{
	width:95px;
	float:left;
}
.main_right-top{
	width:200px;
	margin:0 auto;
}
.main_right-bottom{
	margin-left:50px;
	margin-top:55px;
}