<div id="details">
	<div id="header" class="head">
		<div class="wrap">
			<i class="menu_back"><a href="index.html"></a></i>
			<div class="title">
				<span class="title_d"><p>UEMO用户图片排序问题</p></span>
				<div class="clear"></div>
			</div>
			<i class="menu_share"></i>
		</div>
	</div>
	<div id="works">
		<div class="pd5">

			<div class="list_info_i" style="margin-top:5px;">
				<dl class="list_info_views">
					<dt></dt>
					<dd>7416</dd>
					<div class="clear"></div>
				</dl>
				<dl class="list_info_comment">
					<dt></dt>
					<dd>5</dd>
					<div class="clear"></div>
				</dl>
				<dl class="list_info_like">
					<dt></dt>
					<dd>8</dd>
					<div class="clear"></div>
				</dl>
				<dl class="works_view">
					<dt></dt>
					<dd>8天前</dd>
					<div class="clear"></div>
				</dl>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
			<div class="details_mian">
					<h2>这里是标题</h2>
					<p><b>这是发表者</b></p>
					<p class="details_content">
						这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！这里就是内容啦！！！
					</p>
			</div>
			<div class="clear"></div>

		</div>
	</div>

	<div id="comment">
		<div class="comment_other">
			<h4>全部评论: 5条</h4>
		</div>
		<ul>
			<li postdata="17470" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="fr reply_this">[回复]</div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">太赞了</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17468" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="fr reply_this">[回复]</div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">顶顶顶顶顶多大</div>
							<div class="quote">
								<div class="pd10">看看看看</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17467" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="fr reply_this">[回复]</div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">看看看看</div>
							<div class="quote">
								<div class="pd10">dsafdafds</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17305" usdata="1959">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/21B6575BFBCD8F0604A84A5225EE1145/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">亻夫</a><span>6天前</span></div>
									<div class="fr reply_this">[回复]</div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">dsafdafds</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17263" usdata="3984">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://tp1.sinaimg.cn/1860596552/180/40037759629/1" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">wenrou</a><span>7天前</span></div>
									<div class="fr reply_this">[回复]</div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">能不能直接拖动换排序···人性化点！</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
		</ul>
		<div class="pd5">
		</div>
	</div>

</div>