<div ng-controller="detailsCtrl">
	

<div id="details"  class="wrapper_home">
	<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo">
				<a><img src="images/logo.png" /></a>
			</div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="works">
		<div class="pd5">

			<div class="list_info_i" style="margin-top:5px;">
				<dl class="list_info_views">
					<dt></dt>
					<dd>7416</dd>
					<div class="clear"></div>
				</dl>
				<dl class="list_info_comment">
					<dt></dt>
					<dd>5</dd>
					<div class="clear"></div>
				</dl>
				<dl class="list_info_like">
					<dt></dt>
					<dd>8</dd>
					<div class="clear"></div>
				</dl>
				<dl class="works_view">
					<dt></dt>
					<dd>8天前</dd>
					<div class="clear"></div>
				</dl>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
			<div class="details_mian" ng-repeat="a in arr">
				<h2>{{a.title}}</h2>
				<p><b>{{a.fenlei}}</b></p>
				<p class="details_content">
					{{a.content}}
				</p>
			</div>
			<div class="clear"></div>

		</div>
	</div>

	<div id="comment">
		<div class="comment_other">
			<h4>全部评论: 5条</h4>
		</div>
		<ul>
			<li postdata="17470" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">太赞了</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17468" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">顶顶顶顶顶多大</div>
							<div class="quote">
								<div class="pd10">看看看看</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17467" usdata="20035">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/5AD4BF326DD5B4D6E12FD08F60EDDBB0/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">爱玩</a><span>2天前</span></div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">看看看看</div>
							<div class="quote">
								<div class="pd10">dsafdafds</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17305" usdata="1959">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://qzapp.qlogo.cn/qzapp/100516179/21B6575BFBCD8F0604A84A5225EE1145/100" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">亻夫</a><span>6天前</span></div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">dsafdafds</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
			<li postdata="17263" usdata="3984">
				<div class="pd5">
					<a class="avt fl" target="_blank" href="#"><img src="http://tp1.sinaimg.cn/1860596552/180/40037759629/1" /></a>
					<div class="comment_content">
						<h5>
									<div class="fl"><a class="comment_name" href="#">wenrou</a><span>7天前</span></div>
									<div class="clear"></div>
								</h5>
						<div class="comment_p">
							<div class="comment_pct">能不能直接拖动换排序···人性化点！</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment_reply"></div>
				</div>
			</li>
		</ul>

	</div>
	<div id="us_panel2" ng-show="zai">
		<table width="100%" height="100%" cellspacing="0" border="0">
			<tr>
				<td class="us_panel_like"><i></i><span>收藏</span></td>
				<td class="us_panel_menu">
					<div class="arrow_top"></div><i></i>
					<div class="us_panel_menu_left"></div>
					<div class="us_panel_menu_right"></div>
				</td>
				<td class="us_panel_post"><i></i><span ng-click="detailscomment()">评论</span></td>
			</tr>
		</table>
	</div>
	<div class="details_comment" ng-show="buzai">
		<div id="us_panel3">
			<table width="100%" height="100%" cellspacing="0" border="0">
				<tr>
					<td class="us_panel_like2"><i></i><span>发表</span></td>
					<td class="us_panel_menu2">
						<div class="arrow_top2"></div><i></i>
						<div class="us_panel_menu_left2"></div>
						<div class="us_panel_menu_right2"></div>
					</td>
					<td class="us_panel_post2" ng-click="us_panel_post2()"><i></i><span>返回</span></td>
				</tr>
			</table>
		</div>
		<ul class="details_comment_mian">
			<h3>Dear, please post your comments</h3>
			
			<li><span>Message :</span><textarea placeholder="Your Message to Us"></textarea></li>
		</ul>
	</div>
</div>
<div id="menu">
		<div class="search_wrap">
			<form action="" method="get">
			<input type="text" name="search" class="search_input" placeholder="关键字查找" ng-model="search" ng-blur="hd()"/>
				<i class="reset_input"><i></i></i>
			</form>
		</div>
		<ul>
			<li class="nav_index menu_cur" ng-click="home()"><a><i></i><span>首页</span><b></b><div class="clear"></div></a></li>
			<li class="nav_site" ng-click="personal()"><a><i></i><span>个人</span><b></b><div class="clear"></div></a></li>
			<li class="nav_about"><a><i></i><span>消息</span><b></b><div class="clear"></div></a></li>
		</ul>
</div>
<div id="user">
		<div class="account">
				<div class="login_b_t">
					<div class="pd10">
						<div class="fl">还没有账号<a id="reg_now" href="" >立即注册</a></div><div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="pd10">
				<form method="post" action="">
					<div class="login_b_i">
						<div class="login_input">

							<div class="login_user"><input type="text" name="email" placeholder="邮箱/帐号" ng-model="username"/><i></i></div>
							<div class="login_password"><input type="password" name="password" placeholder="密码" ng-model="password"/><i></i></div>
						</div>
					</div>
					<a class="login_submit" ng-click="denglu()">登录</a>

					
				</form>
			</div>
	</div>
</div>
<script src="../scripts/gonggong.js"></script>