<div id="examine">
	<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo"><a><img src="images/logo.png" /></a></div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="container">
		<div id="sort">
			<table width="100%" border="0" cellspacing="0">
				<tr>
					<td class="sort_left">
						<div class="sort_cate">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_default"></i><span class="ssss">全部</span><div class="clear"></div></div></a></div>
						</div>
					</td>
					<td>
						<div class="sort_sort">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_sort"></i><span>最新发布</span><div class="clear"></div></div></a></div>
						</div>
					</td>
					<td class="sort_right">
						<div class="sort_tag">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_tag"></i><span>我要发布</span><div class="clear"></div></div></a></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
</div>


	<div class="examine_mian">
		<ul>
			<li>发表者:<span>你猜猜</span></li>
			<li>分类:<span> JavaScript</span></li>
			<li>标题:<span> JavaScript的数据类型有哪些</span></li>
			<li>文章内容:<u class="xiaozi">科技大厦领导看见拉科技离开家阿里贷款及阿拉加聊得开骄傲了三德科技拉科技时代立刻就爱上了大家拉科技时代了卡拉斯科杜江拉科技时代拉聚少离多贾老师靠大家拉科技的拉克聚少离多开讲啦时刻记得了卡了三德科技离开家是拉科技的啦空间。</u></li>
		</ul>
		<span class="examine_bottom">
			<button>同意</button>
			<button>不同意</button>
		</span>
	</div>
</div>
