<div id="messages">
	<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo">
				<a><img src="images/logo.png" /></a>
			</div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="sort">
		<table width="100%" border="0" cellspacing="0">
			<tr>
				<td class="sort_left">
					<div class="sort_cate">
						<div class="sort_b">
							<a href="#" onclick="return false;">
								<div class="sort_b_inner"><i class="cate_default"></i><span class="ssss">全部</span>
									<div class="clear"></div>
								</div>
							</a>
						</div>
					</div>
				</td>
				<td>
					<div class="sort_sort">
						<div class="sort_b">
							<a href="#" onclick="return false;">
								<div class="sort_b_inner"><i class="cate_sort"></i><span>最新发布</span>
									<div class="clear"></div>
								</div>
							</a>
						</div>
					</div>
				</td>
				<td class="sort_right">
					<div class="sort_tag">
						<div class="sort_b">
							<a href="#" onclick="return false;">
								<div class="sort_b_inner"><i class="cate_tag"></i><span>发布</span>
									<div class="clear"></div>
								</div>
							</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="messages_mian">
		<p>
			<span>消息中心</span>
			<span>消息设置</span>
		</p>
		<ul>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样这样就这样这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
		</ul>
		<div><button>上一页</button><button>下一页</button></div>
	</div>
</div>