<div id="messages">
	<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo">
				<a><img src="images/logo.png" /></a>
			</div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	

	<div class="messages_mian">
		<p>
			<span>消息中心</span>
			<span>消息设置</span>
		</p>
		<ul>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样这样就这样这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
			<li>
				<a href="JavaScript;">就这样就这样就这样就这样就这样就这样</a><span>同意</span></li>
		</ul>
		<div><button>上一页</button><button>下一页</button></div>
	</div>
</div>