 <div ng-controller="messages" class="box">
 	

<div id="messages" class="wrapper_home">
	<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo">
				<a><img src="images/logo.png" /></a>
			</div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	

	<div class="messages_mian">
		<p>
			<span>消息中心</span>
		</p>
		<ul class="dadiao">
			
			
		</ul>
		<div class="baa">		
		    <p><button class="shang">上一页</button></p>
			<p><a class="aa"></a>/<a class="bb"></a></p>
			<p><button class="xia">下一页</button></p>
		</div>
	</div>
</div>
<div id="menu">
		<div class="search_wrap">
			<form action="" method="get">
			<input type="text" name="search" class="search_input" placeholder="关键字查找" ng-model="search" ng-blur="hd()"/>
				<i class="reset_input"><i></i></i>
			</form>
		</div>
		<ul>
			<li class="nav_index menu_cur" ng-click="home()"><a><i></i><span>首页</span><b></b><div class="clear"></div></a></li>
			<li class="nav_site" ng-click="personal()"><a><i></i><span>个人</span><b></b><div class="clear"></div></a></li>
			<li class="nav_about"><a><i></i><span>消息</span><b></b><div class="clear"></div></a></li>
		</ul>
</div>
<div id="user">
		<div class="account">
				<div class="login_b_t">
					<div class="pd10">
						<div class="fl">还没有账号<a id="reg_now" href="" >立即注册</a></div><div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="pd10">
				<form method="post" action="">
					<div class="login_b_i">
						<div class="login_input">

							<div class="login_user"><input type="text" name="email" placeholder="邮箱/帐号" ng-model="username"/><i></i></div>
							<div class="login_password"><input type="password" name="password" placeholder="密码" ng-model="password"/><i></i></div>
						</div>
					</div>
					<a class="login_submit" ng-click="denglu()">登录</a>

					
				</form>
			</div>
	</div>

 </div>
 <script>
 	$(".dadiao").delegate(".sc","click",function(){
 		var idd=$(this).attr("id")
        console.log(idd)
				$.ajax({
				type: "get",
				url:"http://"+ip+"/messages/shanchu?uid="+idd,
				success: function(e) {
					if(e.flag ==1){
						
						
						location.reload();
						
					}else{
						alert("失败")
					}
					
					
				}
			})	
					
				
			})
 	$.ajax({
				type: "get",
				url:"http://"+ip+"/messages/list",
				success: function(e) {
					
//					console.log(111)
//					console.log(e.flag)
					
					c = 1;
					b = Math.ceil(e.length / 7)
					n=Math.ceil((c-1)*7)
					$(".aa").html(c)
					$(".bb").html(b)
					
					aa();
				}
			})
               var da =[]
			function aa() {
				$.ajax({
					type: "get",
					url: "http://"+ip+"/messages/jie",
					data: {
						c:n 
					},
					success: function(data) {
						console.log(data)
						
						var ff = ""
						$(".dadiao").html("");
						var ff = ""
					for(var i=0;i<data.length;i++){
						ff+="<li ><p>"+data[i].title+"</p><span id="+data[i].uid+" class='sc'>删除</span></li>"
					}
					$('.dadiao').append(ff)
					}
				})
			}
			
			$(".aaaa").delegate(".niye",'click',function(){
//				console.log($(this).attr("name"))
				console.log(da[$(this).attr("name")].uid)
				var id = da[$(this).attr("name")].uid
				location.href="#!/details?id="+id
			})
			$(".shang").click(function() {
				c--;
				n=Math.ceil((c-1)*7)
				if(c <= 1) {
					c = 1
				document.querySelector(".shang").setAttribute("disabled", "disabled")	
				}else if(c!=1){
					document.querySelector(".xia").removeAttribute("disabled")
				}
				
				$(".aa").html(c)
				aa()
			})
			$(".xia").click(function() {
				c++;
				n=Math.ceil((c-1)*7)
				if(c >= b) {
					c = b
				    document.querySelector(".xia").setAttribute("disabled", "disabled")
				}else if(c != b){
					  document.querySelector(".shang").removeAttribute("disabled")
				}
				$(".aa").html(c)
				aa()
			})
			var n=false;
    $(".menu_open").click(function(){
    if(n==false){
    	$(".wrapper_home").css({"left":"250px"})
    	n=true;
    }else{
    	$(".wrapper_home").css({"left":"0px"})
    	n=false;
    }	
	})
			
 </script>