<div id="personal">
	
<div id="header">
		<div class="wrap">
			<i class="menu_open"></i>
			<div class="logo"><a><img src="images/logo.png" /></a></div>
			<i class="search_open"></i>
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="sort">
			<table width="100%" border="0" cellspacing="0">
				<tr>
					<td class="sort_left">
						<div class="sort_cate">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_default"></i><span class="ssss">全部</span><div class="clear"></div></div></a></div>
						</div>
					</td>
					<td>
						<div class="sort_sort">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_sort"></i><span>最新发布</span><div class="clear"></div></div></a></div>
						</div>
					</td>
					<td class="sort_right">
						<div class="sort_tag">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_tag"></i><span>发布</span><div class="clear"></div></div></a></div>
						</div>
					</td>
				</tr>
			</table>
		</div>	
		
		<div class="personal_main">
			<span class="personal_tou">
				
			</span>
			<input type="button" name="" id="" value="修改头像" />
			<ul>
				<li><i>昵称：</i><p>你猜猜</p><span>修改</span></li>
				<li><i>性别：</i><p>你猜猜</p><span>修改</span></li>
				<li><i>联系方式：</i><p>你猜猜</p><span>修改</span></li>
				<li><i>QQ：</i><p>你猜猜</p><span>修改</span></li>
			</ul>
		</div>

	
</div>