<div ng-controll="personal" class="box">

	<div id="personal" class="wrapper_home">

		<div id="header">
			<div class="wrap">
				<i class="menu_open" id="chu"></i>
				<div class="logo">
					<a><img src="images/logo.png" /></a>
				</div>
				<i class="search_open" id="chu1"></i>
			</div>
			<div class="logo_msk"></div>
		</div>

		<div class="personal_main">
			<div class="personal_main_left">
				<div class="personal_tou">

				</div>
				<input type="file" id="a" />

				<ul class="personal_ziliao">

				</ul>
				<button class="bbb">修改资料</button>
				<div class='personal_main_xiu'>
					<ul class="personal_xiu_content">
						<form name="yanzheng">
							<li>昵&#x3000;称: <input type="text" name="name" required class="nicheng" ng-model='nicheng' ng-pattern="/^[\u4e00-\u9fa5]{1,7}$|^[\dA-Za-z_]{1,14}$/" />
								<div ng-messages="yanzheng.name.$error">
									<span ng-message="required"> 昵称提示：不写你试试</span>
									<span ng-message="pattern"> 昵称提示：最长不得超过7个汉字，或14个字节(数字，字母和下划线)</span>
								</div>
							</li>
							<li>密&#x3000;码: <input type="password" name="pas" required maxlength="15" minlength="5" class="mima" ng-model='mima' />
								<div ng-messages="yanzheng.pas.$error">
									<span ng-message="required"> 密码提示：不写你试试</span>
									<span ng-message="maxlength"> 密码提示：不能大于15位</span>
									<span ng-message="minlength"> 密码提示：不能小于5位</span>
								</div>
							</li>
							
							<li>年&#x3000;龄: <input type="text" name="age" required class="nianling" ng-pattern="/[0-9]{1,2}/" maxlength="2" minlength="1" ng-model='nianling' />
								<div ng-messages="yanzheng.age.$error">
									<span ng-message="required"> 昵称提示：不写你试试</span>
									<span ng-message="pattern"> 昵称提示：只能写数字</span>
								</div>
							</li>
							<li>手机号: <input type="text" name="tel" required class="dianhua" ng-pattern="/^((13[0-9])|(14[0-9])|(15[0-9])|(17[0-9])|(18[0-9]))\d{8}$/" ng-model='dianhua' />
								<div ng-messages="yanzheng.tel.$error">
									<span ng-message="required"> 手机提示：不写你试试</span>
									<span ng-message="pattern"> 手机提示：请填写正确的手机号</span>
								</div>
							</li>
							<li>QQ号 : <input type="text" name="qq" required class="qq" maxlength="13" ng-pattern="/[1-9][0-9]{4,10}/" ng-model='qiuqiu' />
								<div ng-messages="yanzheng.qq.$error">
									<span ng-message="required"> QQ提示：不写你试试</span>
									<span ng-message="pattern"> QQ提示：请填写正确的QQ号</span>
								</div>
							</li>
						</form>
						<li><button class="aaa">确认</button><button class="bbbb">取消</button></li>
					</ul>
				</div>
			</div>

			<div class="personal_main_right">
				<div class="main_right-top">
					<button class='a' ng-model="yifa" id="yifa">我已发表</button>
					<button class="b" ng-model="yicang" id="yicang">我已收藏</button>
				</div>
				<div class="main_right-bottom">
					<ul class="d" style="display: none;">

					</ul>
					<ul class="c">
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="menu">
		<div class="search_wrap">
			<form action="" method="get">
				<input type="text" name="search" class="search_input" placeholder="关键字查找" ng-model="search" ng-blur="hd()" />
				<i class="reset_input"><i></i></i>
			</form>
		</div>
		<ul>
			<li class="nav_index menu_cur" id="shou">
				<a><i></i><span>首页</span><b></b>
					<div class="clear"></div>
				</a>
			</li>
			<li class="nav_site" ng-click="personal()">
				<a><i></i><span>个人</span><b></b>
					<div class="clear"></div>
				</a>
			</li>
			<li class="nav_about" id="xiao">
				<a><i></i><span>消息</span><b></b>
					<div class="clear"></div>
				</a>
			</li>
		</ul>
	</div>

</div>

<script>
	var c = false;
	$("#chu").click(function() {
		if(c == false) {
			$(".wrapper_home").css({
				"left": "250px"
			})
			c = true;
		} else {
			$(".wrapper_home").css({
				"left": "0px"
			})
			c = false;
		}
	})

	function ww(el) {
		var obj = document.querySelectorAll(el);
		return obj.length > 1 ? obj : obj[0];
	}
	ww(".personal_tou").addEventListener("click", function() {
		ww("#a").click();
		ww("#a").addEventListener("change", function() {
			//第一步创建文件对象
			var img = this.files[0],
				//创建了一个文件对象
				fileTran = new FileReader();
			//将文件转换为文本显示
			fileTran.readAsDataURL(img);
			//文件加载成功后执行事件
			fileTran.onload = function() {
				ww(".personal_tou").style.cssText = "width:118;height:115"
				ww(".personal_tou").innerHTML = "<img id='img' src='" + this.result + "' style='width:100%;height:100%'/>";
				var imgWidth = ww("#img").offsetWidth,
					screenWidth = window.innerWidth,
					imgHeight = ww("#img").offsetHeight,
					screenHeight = window.innerHeight;
				if(imgWidth >= screenWidth) {
					ww(".personal_tou > img").style.width = 0.8 * screenWidth + "px";
				}
				if(imgHeight >= screenHeight) {
					ww(".personal_tou > img").style.height = 0.8 * screenHeight + "px";
				}

			}
		})

	})
	$('.a').click(function() {
		$('.c').css("display", "block");
		$('.d').css("display", "none")
	})
	$('.b').click(function() {
		$('.d').css("display", "block");
		$('.c').css("display", "none")
	})
	$('.bbb').click(function() {
		$('.personal_main_xiu').css("display", "block")
	})
	$('.bbbb').click(function() {
		$('.personal_main_xiu').css("display", "none")
	})
	$('.aaa').click(function() {
		$.ajax({
			type: "post",
			url: "http://" + ip + "/personal/xiugaihou",
			data: "name=" + $('.nicheng').val() + "&age=" + $('.nianling').val() + "&tel=" + $('.dianhua').val() + "&qq=" + $('.qq').val() + "&id=" + localStorage.id + "&password=" + $('.mima').val(),
			success: function(data) {
				if(data.flag == 1) {
					$('.personal_main_xiu').css("display", "none")
					$.ajax({
						type: "get",
						url: "http://" + ip + "/personal/xun",
						data: "username=" + localStorage.username,
						success: function(data) {
							console.log(data)
							$(".personal_ziliao").html("")
							var html = ""

							for(var i = 0; i < data.length; i++) {
								html += "<li><i>昵称：</i><p>" + data[i].name + "</p></li><li><i>QQ：</i><p>" + data[i].qq + "</p></li><li><i>年龄：</i><p>" + data[i].age + "</p></li><li><i>联系方式：</i><p>" + data[i].tel + "</p></li>"
							}
							$(".personal_ziliao").append(html)
							$('.nicheng').val(data[0].name)
							$('.nianling').val(data[0].age)
							$('.qq').val(data[0].qq)
							$('.dianhua').val(data[0].tel)
							$('.mima').val(data[0].password)
						}
					});
				}
//				console.log(data)

			}
		});

	})
	$.ajax({
		type: "get",
		url: "http://" + ip + "/personal/xun",
		data: "username=" + localStorage.username,
		success: function(data) {
//			console.log(data)
			var html = ""

			for(var i = 0; i < data.length; i++) {
				html += "<li><i>昵称：</i><p>" + data[i].name + "</p></li><li><i>QQ：</i><p>" + data[i].qq + "</p></li><li><i>年龄：</i><p>" + data[i].age + "</p></li><li><i>联系方式：</i><p>" + data[i].tel + "</p></li>"
			}
			$(".personal_ziliao").append(html)
			$('.nicheng').val(data[0].name)
			$('.nianling').val(data[0].age)
			$('.qq').val(data[0].qq)
			$('.dianhua').val(data[0].tel)
			$('.mima').val(data[0].password)
		}
	});

	$("#yifa").click(function() {
		$.ajax({
			type: "get",
			url: "http://" + ip + "/personal/yifa",
			data: "id=" + localStorage.id,
			success: function(data) {
//				console.log(data)
				var html = "";
				$(".c").html("")
				for(var i = 0; i < data.length; i++) {
					html += "<li class='h' u="+data[i].uid+">" + data[i].title + "</li>"
				}
				$(".c").append(html)
			}
		});
	})
	
	$(".c").delegate(".h",'click',function(){
//				
				var q = $(this).attr("u")
				
				
				location.href="#!/details?id="+q
			})
	$("#shou").click(function() {
		location.href = "#!/home"
	})
	$("#xiao").click(function() {
		
		if( localStorage.status ==1){
			location.href = "#!/messages"
		}else if( localStorage.status ==0){
			alert("你没有权限")
		}
	})

	var arr = [];
	$("#yicang").click(function() {
		$.ajax({
			type: "get",
			url: "http://" + ip + "/personal/yicang",
			data: "id=" + localStorage.id,
			success: function(data) {

//				console.log(data)
//				console.log(data[0].uid)

				$(".d").html("");
				for(var i = 0; i < data.length; i++) {

					$.ajax({
						type: "get",
						url: "http://" + ip + "/personal/yican",
						data: "uid=" + data[i].uid,
						success: function(t) {
							var con = ""
							console.log(t)
							con = "<li class='tiao' m="+t[0].uid+">" + t[0].title + "</li>"
							$(".d").append(con)
						}

					});
				}
			}
		});
	})
	$(".d").delegate(".tiao",'click',function(){
         
				var qw = $(this).attr("m")
				
				 console.log(qw)
				location.href="#!/details?id="+qw
			})
</script>